<div class="container-fluid">
  <div class="row">
    <div class="col-md-1" style="background-color: #F9C1CF;">
      <p>ここに常に表示させたいやつ</p>
      <p>こんなかんじ？</p>
   </div>
      <div class="container">
        <div class="row" style="background-color: #fef9fb;">
            <div class="col-md-10 offset-md-1">
               <h1>My_Page</h1>
                 <%= image_tag @user.get_profile_image(100,100) %>
                      <table class="table">
                        <tbody>
                          <tr></tr>
                           <tr><th class="bg-lite">name</th>
                               <td><%= @user.name %></td></tr>
                           <tr><th class="bg-lite">introduction</th>
                               <td><%= @user.introduction %></td></tr>
                        </tbody>
                      </table>
                        <%= link_to edit_user_path(@user), class: 'btn btn-outline-primary' do %>
                          <i class="fa-solid fa-user-gear"></i>
                        <% end %>
                   </div>
                 </div>
                    <div class="container">
                     <div class="row">
                        <div class="col-md-10 offset-md-1 mt-4" style="background-color: #fef9fb;">
                           <table class="table table-striped">
                             <thead>
                             <tr>
                              <th></th>
                              <th>タイトル</th>
                              <th>投稿内容</th>
                              <th colspan="3"></th>
                             </tr>
                            <tbody>
                               <% @posts.each do |one_post| %>
                                  <tr>
                                    <td>
                                      <%= link_to user_path(@user) do %>
                                      <%= image_tag(one_post.get_image, size: "150x150") %>
                                      <% end %>
                                    </td>
                                    <td>
                                      <%= link_to one_post.title, post_path(one_post) %>
                                    </td>
                                    <td>
                                      <%= link_to one_post.body %>
                                    </td>
                                    <td id="like_liked_<%= one_post.id %>">
                                      <%= render "public/likes/liked", post: @post %>
                                    </td>
                                
                                    <td>
                                      <%= link_to edit_post_path(one_post), class: 'btn btn-outline-primary' do %>
                                        <i class="fa-solid fa-file-pen"></i>
                                      <% end %>
                                    </td>
                                  </tr>
                                  <% end %>
                                </tbody>
                              </thead>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


