<div class="container" style="background-color: #FFF9EE;">
  <h2 class="text-center pt-3 pb-3 mt-2" style="background-color: #84C98B;">投稿一覧</h2>
    <div class="row" style="background-color: #fef9fb;">
            <div class="col-md-10 offset-md-1 mt-4" style="background-color: #fef9fb;">
               <table class="table table-striped">
                 <thead>
                 <tr>
                  <th></th>
                  <th>タイトル</th>
                  <th>投稿内容</th>
                  <th colspan="3"></th>
                 </tr>
                <tbody>
                   <% @posts.each do |one_post| %>
                      <tr>
                        <td>
                          <%= link_to user_path(one_post) do %>
                          <%= image_tag(one_post.get_image, size: "150x150") %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to one_post.title, post_path(one_post) %>
                        </td>
                        <td>
                          <%= one_post.body %>
                        </td>
                        <td id="like_liked_<%= one_post.id %>">
                          <%= render "public/likes/liked", post: one_post %>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


