<div class="container" style="background-color: #F4FBFE;">
  <h3 class="text-left" style="background-color: #FFFEF6;">メッセージ</h3>
   <div id="messages">
    <%= render 'public/messages/message', messages: @messages %>
   </div>
  <div class="row">
    <%= form_with model: @message, url: user_messages_path(current_user.id), method: :post, local: false, class: "w-100", html: { id: 'message_form' } do |f| %>
      <div class="d-flex justify-content-center">
        <%= f.text_field :body, class: "w-80", placeholder: "ここにメッセージを入力して下さい", id: "message_field" %>
        <%= f.hidden_field :receive_user_id, value: params[:user_id] %>
        <%= f.submit "送信", class: 'btn btn-primary w-25', id: 'message-btn' %>
      </div>
    <% end %>
  </div>
</div>