<% post.comments.each do |comment| %>
<p>
  <%= link_to users_path(comment) do %>
    <%= image_tag comment.user.get_profile_image, size: '50x50' %>
    <%= comment.user.name %>
  <% end %>
  <%= comment.created_at.strftime('%Y/%m/%d') %>
  <%= comment.comment %>
  
    <% if comment.user==current_user %>
      <%= link_to "削除", post_comment_path(comment.book, comment), method: :delete, class: 'btn btn-sm btn-danger', remote:true, data: {'turbolinks'=>false} %>
      <% end %>
      
    <% end %>
</p>