<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
<% post.comments.first(2).each do |comment| %>
<p>
  <%= link_to users_path(comment) do %>
    <%= image_tag comment.user.get_profile_image(50, 50), size: '50x50' %>
    <%= comment.user.name %>
  <% end %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.comment %>
    
    <% if comment.user==current_user %>
      <%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, class: 'btn btn-sm btn-danger', remote: true, data: {'turbolinks'=>false} %>
      <% end %>
  <% end %>
</p>
<% post.comments.offset(2).each do |comment| %>
<p>
  <%= link_to users_path(comment) do %>
    <%= image_tag comment.user.get_profile_image(50, 50), size: '50x50' %>
    <%= comment.user.name %>
  <% end %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.comment %>
    
    <% if comment.user==current_user %>
      <%= link_to "削除", post_comment_path(comment.post_id, comment.id), method: :delete, class: 'btn btn-sm btn-danger', remote: true, data: {'turbolinks'=>false} %>
      <% end %>
  <% end %>
</p>
