<div class="aboutback">
    <div class="square">
        <h2 class="text-center mt-3">最新の投稿</h2>
    </div>
      <div class="container card mt-3 mb-3" style="background-color: #cee4ae;">
        <div class="row">
          <% @new_posts.each do |posts| %>
            <div class="col-md-3">
              <%= image_tag(posts.get_image, class: "card-img-top", size: "300x300") %>
            </div>
            <div class="col-md-7">
              <div class="card-body">
                <p class="list-group-item"><%= posts.created_at.strftime('%Y/%m/%d') %></p>
                <h5 class="list-group-item font-weight-bold"><%= posts.title %></h5>
                <p class="list-group-item"><%= posts.body.truncate(100) %></p>
                <h6 class="list-group-item"><%= posts.user.name %></h6>
              </div>
            </div>
            <% end %>
        </div>
      </div>
            <div class="text-center mt-4">
              <p><%= link_to "ゲストログイン", users_guest_sign_in_path, class: 'btn btn-outline-primary sign_in', method: :post %></p>
            </div>
            <div class="text-center mt-4">
              <p><%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-primary sign_in' %></p>
            </div>
            <div class="text-center mt-4">
              <p><%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-primary sign_up' %></p>
            </div>
    </div>