<div class="container">
  <div class="row" style="background-color: #FFF9EE;">
    <div class="text-center col-md-12">
      <h2 class="text-center pt-2 pb-2 mt-3" style="background-color: #84C98B;">新規登録</h2>

    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-4 mb-4 mr-4">
      　 <%= f.label :last_name %>
      　 <%= f.text_field :last_name, autofocus: true %>

         <%= f.label :first_name %>
         <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field mt-4 mb-4 mr-4">
         <%= f.label :kana_last %>
         <%= f.text_field :kana_last, autofocus: true %>

         <%= f.label :kana_first %>
         <%= f.text_field :kana_first, autofocus: true %>
      </div>

      <div class="field mt-4 mb-4 mr-4">
         <%= f.label :email %>
  　　　    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mt-4 mb-4 mr-4">
         <%= f.label :password %>
         <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
         <% end %><br />
         <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mt-4 mb-4 mr-4">
         <%= f.label :password_confirmation %><br />
         <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions mt-4 mb-4 mr-4">
         <%= f.submit "Sign up", class: 'btn btn-outline-primary' %>
      </div>
         <% end %>
    </div>
  </div>
</div>
