<h2>検索結果</h2>
  
  <% if @model == "user" %>
    <h3>Users search for "<%= @content %>"</h3>
    <table>
      <tbody>
        <% @records.each do |record| %>
        <tr>
          <td><%= record.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% elsif @model == 'post' %>
    <h3>投稿検索結果 "<%= @content %>"</h3>
    <table>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <td><%= record.title %></td>
            <td><%= record.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
