<div class="container" style="background-color: #FFF9EE;">
  <h2 class="text-center pt-3 pb-3 mt-2" style="background-color: #84C98B;">ユーザー一覧</h2>
  <div class="row" style="background-color: #fef9fb;">
    <div class="col-md-10 offset-md-1 mt-4" style="background-color: #fef9fb;">
         <%= render 'searches/search' %>
          <table class="table">
          <thead>
             <tr>
             <th>プロフィール</th>
             <th>名前</th>
             <th></th>
             <th colspan="3"></th>
            </tr>
          </thead>
         <tbody>
    　  <% @users.each do |user| %>
    　  <tr>
    　    <td><p><%= image_tag user.get_profile_image(100,100) %></p></td>
    　    <td><p><%= user.name %></p></td>
          <td><p>フォロー：<span id="followings_count"><%= user.followings.count %>人</span></p></td>
                  
          <td><p>フォロワー：<span id="followers_count"><%= user.followers.count %>人</span></p></td>
                 
          <td><p><%= link_to "ユーザー詳細", user_path(user.id) %></p></td>
    　  </tr>
        <% end %>
    　 </tbody>
     </table>
    </div>
  </div>
</div>

