<div class="container">
 <div class="row">
  <div class="square col-md-4" style="background-color: #FFF9EE;">
   <h1>ユーザー詳細</h1>
     <%= image_tag @user.get_profile_image(100,100) %>
        <div class="container card mt-3 mb-3">
            <table class="table">
              <tbody>
                <tr></tr>
                 <tr><th class="bg-lite">name</th>
                     <td><%= @user.name %></td></tr>
                 <tr><th class="bg-lite">introduction</th>
                     <td><%= @user.introduction %></td></tr>
              </tbody>
            </table>
        </div>
  </div>
      
       <div class="col-md-7 offset-md-1" style="background-color: #6495ED;">
            <div class="row">
                <% @posts.each do |posts| %>
                  <div class="col-md-3">
                    <%= image_tag(posts.get_image, size: "100x100") %>
                  </div>
                      <div class="col-md-7">
        　               <div class="card-body">
                          <h5 class="list-group-item font-weight-bold"><%= posts.title %></h5>
                          <p class="list-group-item"><%= posts.body %></p>
                        </div>
                       </div>
                <% end %>
                      <div id="relationships_follow<%= @user.id %>">
                        <%= render "public/relationships/btn", user: @user %>
                      </div>
            </div>
       </div>
  </div>
</div>
