<div class="col-md-8 ml-4 mt-4">
  <h1>ユーザー詳細</h1>
     <%= image_tag @user.get_profile_image(100,100) %>
            <table class="table">
              <tbody>
                <tr></tr>
                 <tr><th class="bg-lite">name</th>
                     <td><%= @user.name %></td></tr>
                 <tr><th class="bg-lite">introduction</th>
                     <td><%= @user.introduction %></td></tr>
              </tbody>
            </table>
  　     <tr>
  　       <th>プロフィール</th>
  　       <th>タイトル</th>
  　       <th colspan="2"><th>
  　     </tr>
  　     <tbody>
  　       <% @user.each do |user| %>
  　        <tr>
                  <td><%= link_to user_path(@user) do %>
                       <%= image_tag user.get_profile_image(100,100) %>
                       <% end %>
                  </td>
                  <td><%= link_to user.title, post_path(posts.id) %></td>
                  <td><%= user.body %></td>
               </tr>
               <% end %>
        </tbody>
  　   </thead>
  　 </table>
</div>