<div class="aboutback row">
  <div class="square col-md-4" style="background-color: #cee4ae;">
   <h1>ユーザー詳細</h1>
     <%= image_tag @user.get_profile_image(100,100) %>
      <div class="container card mt-3 mb-3">
            <table class="table">
              <tbody>
                <tr></tr>
                 <tr><th class="bg-lite">name</th>
                     <td><%= @user.name %></td></tr>
                 <tr><th class="bg-lite">introduction</th>
                     <td><%= @user.introduction %></td></tr>
              </tbody>
            </table>
            <div id="relationships">
              <%= render "public/relationships/btn" %>
            </div>
          </div>
        </div>
      
       <div class="card col-md-7 offset-md-1" style="background-color: ">
             <div class="row">
                <% @posts.each do |posts| %>
                  <div class="col-md-3">
                    <%= image_tag(posts.get_image, size: "100x100") %>
                  </div>
                      <div class="col-md-7">
        　               <div class="card-body">
                          <h5 class="list-group-item font-weight-bold"><%= posts.title %></h5>
                          <h6 class="list-group-item"><%= posts.body %></h6>
                        </div>
                     </div>
               <% end %>
        </div>
      </div>
    </div>