<!DOCTYPE html>
<html>
  <head>
    <title>Volleyball_and_you</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="app/javascript/images/favicon.ico">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f9b17be825.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <span>
            <%= link_to root_path, class: 'font-color' do %>
             <i class="fa-solid fa-volleyball"></i> Volleyball_and_you
             <% end %>
          </span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="#navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>

              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link text-lite' do %>
                  <i class="fa-solid fa-house"></i>Home
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to users_path, class: 'nav-link text-lite' do %>
                  <i class="fa-solid fa-users"></i>Users
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to posts_path, class: 'nav-link text-lite' do %>
                  <i class="fa-regular fa-folder"></i>Posts
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to user_path(current_user.id), class: 'nav-link text-lite' do %>
                  <i class="fa-regular fa-circle-user"></i>My-Page
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_post_path, class: 'nav-link text-lite' do %>
                  <i class="fa-regular fa-pen-to-square"></i>New-Post
                <% end %>
              </li>

              <li class="dropdown">
                <button class="btn btn-secoundary dropdown-toggle nav-link text-lite" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Notification
                  <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <% if current_user.notifications.where(read: false).any? %>
                    <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
                    <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
                      <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "dropdown-item" %>
                    <% end %>
                  <% else %>
                    <span class="dropdown-item disabled">未読の通知はありません</span>
                  <% end %>
                </div>
              </li>

              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-lite' do %>
                  <i class="fa-solid fa-right-from-bracket"></i>Log-Out
                <% end %>
              </li>

              <% elsif admin_signed_in? %>

                <li class="nav-item">
                  <%= link_to "ユーザー一覧", admin_dashboards_path, class: 'nav-link text-lite' %>
                </li>

                <li class="nav-item">
                  <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link text-lite' %>
                </li>

                <li class="nav-item">
                  <%= link_to "コメント一覧", admin_comments_path, class: 'nav-link text-lite' %>
                </li>

                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-lite' %>
                </li>

              <% else %>

              <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link text-lite font-color' %>
              </li>

              <li class="nav-item">
                <%= link_to "About", about_path, class: 'nav-link text-lite font-color' %>
              </li>

              <li class="nav-item">
                <%= link_to "Sign-up", new_user_registration_path, class: 'nav-link text-lite font-color' %>
              </li>

              <li class="nav-item">
                <%= link_to "Log-in", user_session_path, class: 'nav-link text-lite font-color' %>
              </li>

              <% end %>
            </ul>
         </div>
        </div>
      </nav>
     </header>
    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>
        <%= yield %>
    </main>
  </body>

    <footer>
      <p class="copyright">©Volleyball_and_you</p>
    </footer>

</html>
