<!DOCTYPE html>
<html>
  <head>
    <title>Volleyball_and_you</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f9b17be825.js" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
        <div class="container">
          <span>
            <%= link_to root_path, class: 'font-color' do %>
             <i class="fa-solid fa-volleyball"></i> Volleyball_and_you
             <% end %>
          </span>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="#navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>

              <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link text-lite' %>
              </li>

              <li class="nav-item">
                <%= link_to "My-page", posts_path, class: 'nav-link text-lite' %>
              </li>

              <li class="nav-item">
                <%= link_to "New-post", new_post_path, class: 'nav-link text-lite' %>
              </li>

              <li class="nav-item">
                <%= link_to "Log-out", destroy_user_session_path, method: :delete, class: 'nav-link text-lite' %>
              </li>

              <% else %>

              <li class="nav-item">
                <%= link_to "Home", root_path, class: 'nav-link text-lite font-color' %>
              </li>

              <li class="nav-item">
                <%= link_to "About", about_path, class: 'nav-link text-lite font-color' %>
              </li>

              <li class="nav-item">
                <%= link_to "Sign-up", new_user_registration_path, class: 'nav-link text-lite font-color' %>
              </li>

              <li class="nav-item">
                <%= link_to "Log-in", user_session_path, class: 'nav-link text-lite font-color' %>
              </li>

              <li class="nav-item">
                <%= link_to "Guest-log-in", users_guest_sign_in_path, class: 'nav-link text-lite font-color', method: :post %>
              </li>
              <% end %>
            </ul>
         </div>
        </div>
      </nav>
     </header>
    <main>
        <%= yield %>
    </main>
  </body>

    <footer class="text-center" style="background-color: #afafb0;">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
              <% if current_user.try(:admin?) %>
                <%= link_to '管理者ログイン', rails_admin_path %>
              <% end %>
                <p>©Volleyball_and_you</p>
          </div>
        </div>
      </div>
    </footer>

</html>
